/* обертка над всеми тегами */
.page {
    display: flex;
    flex-direction: column;
    /* 100 относительных единиц */
    /* высчитываются от видимой области по высоте */
    min-height: 100vh;
  }


.main {
    padding: 20px 0;
    flex: 1;  /* чтобы main занимал все свободное место если контента мало: */
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}